body{
  background-color: rgb(237, 211, 242);
  color:rgb(49, 70, 175);

}

.App{
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
  gap: 10px;
}

.info-container{
  display: flexl;
  flex-direction: column;
  gap: 10;
  align-items: center;
  /* justify-content: space-between; */
}

.input-lists{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

input[type = 'text'],input[type = 'number'],
button{
  appearance: none;
  outline: none;
  border: 0;
  padding: 15px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  color:rgb(49, 70, 175);
  /* box-shadow: ; */
}

button{
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  padding: 15px 25px;
  margin: 5px;
}

.add{
  background-color:rgb(49, 70, 175);
  color: white;
  font-weight: 700;
}

.search-input{
  width: 400px;
}
.search-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

table{
  margin-top: 20px;
  border-collapse: collapse;
}

table td,
table th{
  border: 1px solid  rgb(237, 211, 242);
  padding: 5px;
  max-width: 500px;
  word-wrap: break-word;
  text-align: left;
  color: white;
  background-color:rgb(126, 142, 220) ;
}

table td{
  font-size: 18px;
  font-weight: 400;
}

table tr:hover{
  background-color: red;
}

tr th{
  min-width: 100px;

}

table th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(195, 101, 194);
}

.table-cell {
  width: 150px; 
  text-align: center;
}

.table-cell input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.actions {
  width: 180px;
  display: flex;
  justify-content: center;
  gap: 4px;
  width: 180px;
}


